/*.classpath
/*.iml
/*.ipr
/*.iws
/*.project
/*.settings
/*.war
/*.zip
/.gradle
/.idea
/logs
/out
/build/classes/*
/build/tmp/*
/build/.*
/plugin.xml
/prodDb.*
/*/stacktrace.log
/target
/test/reports
/web-app/WEB-INF/classes
/web-app/plugins
target/classes

grails-app/conf/DataSource.groovy
grails-app/services/common/ProxyFactoryService.groovy